#app {
    position: relative;
    overflow: hidden;
    width: 960px;
    height: 540px;
    top: 50%;
    margin: -270px auto 0 auto;
    background-image: url(../../img/zen_540.jpg);
    background-repeat: no-repeat;
    background-color: red;
}

