@font-face {
    font-family: "Domo";
    src:    url('../font/DOMOAI__.TTF');
    font-weight: lighter;
}

@font-face {
    font-family: "Domo";
    src:    url('../font/DOMOAN__.TTF');
    font-weight: normal;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    color: #d4d4d4;
    /*background-color: #1d1d1d; */
}

object {
    position: absolute;
}

/* List widgets */
.horizontallist, .verticallist {
    position: relative;
}

.horizontallist .listitem {
    display: inline-block;
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
    display: inline-block;
}

.verticallist .listitem {
    display: block;
    position: relative;
}

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
    display: block;
}

/* Horizontal carousel widgets */
/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
    overflow: hidden;
    width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
    display: inline-block;
}

.horizontalcarousel {
    width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

/* DEVICE SPECIFIC DEFAULTS EXAMPLE ------------------ */

/* if you target some consoles you may need to add additional styles like this */
.someConsoles .horizontallist .listitem {
    display: inline-block;
    float: left;
}

/* If you target some older tv models, you will need to specify
initial element background in the base stylesheet, not in dynamically loaded styles. */

.sometv.layout540p #app {
    width: 960px;
    height: 540px;
    /*background-image: url(some/image/url_540.png); */
}

.sometv.layout720p #app {
    width: 1280px;
    height: 720px;
    /*background-image: url(some/image/url_720.png); */
}

.sometv.layout1080p #app {
    width: 1920px;
    height: 1080px;
    /*background-image: url(some/image/url_1080.png); */
}

/* sudoku BASE STYLES */

/* Core */

/* Maple needs initial element background in base stylesheet... not in dynamically loaded styles! */
.samsung.layout540p #app {
    width: 960px;
    height: 540px;
    background-image: url(../img/zen_540.jpg);
    background-repeat: no-repeat;
    background-color: red;
}

.samsung.layout720p #app {
    width: 1280px;
    height: 720px;
    background-image: url(../img/zen_720.jpg);
    background-repeat: no-repeat;
}

.samsung.layout1080p #app {
    width: 1920px;
    height: 1080px;
    background-image: url(../img/zen_1080.jpg);
    background-repeat: no-repeat;
}


/* Display & Visibility Helpers */
.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
}

/* Sudoku on TAL styles */

#game {
    position: relative;
}

#title {
    color: #fff;
    font-family: "Domo", "Helvetica", sans-serif;
    font-size: 40px;
    line-height: 200%;
    display: block;
    text-align: center;
    margin: 2% auto 0 auto;
    font-weight: bold;
}

#timerLabel{
    font-family: "Domo";
}

#gamegrid {
    text-align: center;
}

#gamegrid .row {
    margin: 0px;
    padding: 0px;
    height: 42px;
}

#gamegrid .row:nth-child(3), #gamegrid .row:nth-child(6) {
    margin-bottom: 5px;
}

#gamegrid .row .container:nth-child(3), #gamegrid .row .container:nth-child(6) {
    margin-right: 5px;
}

#gamegrid .container {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 1px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 120%;
    color: #000;
    position: relative;
}

#gamegrid .container .button {
    margin: 0;
}

#gamegrid .buttonFocussed {
    background-color: #F1C40F;
}

#gamegrid .container.hint .button {
    background-color: #BDC3C7;
}

#gamegrid .container.hint .button.buttonFocussed {
    background-color: #F1C40F;
}

#gamegrid .container.error .label {
    color: #C0392B;
    font-weight: bold;
}

.numberselector {
    font-family: "Domo";
    position: absolute;
    z-index: 1;
    background-color: #2C3E50;
    top: 50%;
    left: 50%;
}

.numberselector .button.buttonFocussed {
    background-color: white;
    color: black;
}

.hidden {
    display: none;
}